database.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="TRIPS">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="TRIP" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="DESTINATION"/>
              <xs:element type="xs:string" name="TYPE"/>
              <xs:element type="xs:int" name="COST"/>
              <xs:element type="xs:int" name="DURATION"/>
              <xs:element type="xs:string" name="GUIDE"/>
              <xs:element type="xs:int" name="HOTELRATING"/>
              <xs:element name="GROUPMEMBERS">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="COSTUMER" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="FIRSTNAME"/>
                          <xs:element type="xs:string" name="LASTNAME"/>
                          <xs:element type="xs:string" name="COUNTRYFROM"/>
                        </xs:sequence>
                        <xs:attribute type="xs:int" name="cid" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:int" name="id" use="optional"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="COSTUMERINFO">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="COSTUMER" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:int" name="COSTUMER_ID"/>
                    <xs:element type="xs:string" name="FIRSTNAME"/>
                    <xs:element type="xs:string" name="LASTNAME"/>
                    <xs:element type="xs:string" name="COUNTRY"/>
                  </xs:sequence>
                  <xs:attribute type="xs:int" name="cid" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>